ul {
    padding:0;
    margin:0;
  }
  ul li {
    float:left;
    list-style:none;
    margin:25px;
    width:100%;
    height:auto;
    overflow:hidden;
    border:1px solid #d2d2d2;
    background:#ececec;
  }
  
  div.wrapper{
    width:100%;
    height:auto;
    overflow:hidden;
    position:relative;
  }
  
/*   div.alt {
    font-family:arial;
    font-weight:bold;
    font-size:14px;
    position:relative;
    text-align:center;
    padding:55px 15px 15px 15px;
    min-height:125px;
    line-height:16px;
    display: none;
  } */
  
  .overlay {
    transition: ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .image {
    opacity: 0.3;
  }
  .container:hover .overlay {
    opacity: 1;
  }

  .hide{
    display: none;
  }
  .text {
    background-color: rgb(76, 160, 175);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }



  /* .wrapper2 div.alt {
    top:370px;
    padding-top:44px;
  } */
 